DISCORD_TOKEN=token_bot_ticket
TICKET_PANEL_CHANNEL_ID=1516534368225591386
TICKET_SUPPORT_ROLE_ID=1505906083812737134
TICKET_CLOSE_ROLE_ID=1516627835538903140
TICKET_CATEGORY_ID=0
TICKET_CHANNEL_PREFIX=ticket-suport
TICKET_DELETE_DELAY=5
NIXPACKS_PYTHON_VERSION=3.11
